<section class="answer">
    <div class="container answer__container">
        <div class="answer__pretitle">
            Результат прохождения теста
            <img src="images/answer-arrow.png" alt="Стрелка" class="answer__pretitle-arrow">
            <div class="answer__test-title" id="answer-test-title"></div>
        </div>

        <h1 class="answer__title big__title">
            <span class="big__title-blue">Правильные ответы </span>
            к тесту
        </h1>
        <div class="answer__user-title">
            Тест выполнил <span class="answer__user-title-blue" id="user-name"></span>
        </div>
        <div class="answer__questions" id="allQuestions">

        </div>
        <div class="answer__test-result">
            <a href="javascript:void(0)" class="answer__test-result-link" id="back-to-result">Обратно к моему результату
                теста
                <img src="images/test-arrow.png" alt="Стрелка" class="answer__test-result-image">
            </a>
        </div>
    </div>
</section>