<section class="choice">
    <div class="container choice__container">
        <div class="choice__content">
            <h1 class="choice__title common__title">
                Выберите
                <span class="choice__title-blue common__title-blue">тему теста</span>
            </h1>
            <div class="choice__description">
                Чтобы начать тест, выберите одну из предложенных ниже тем.
            </div>
            <div class="choice__options" id="choice-options">
                <!-- <div class="choice__option">
                        <div class="choice__option-text">Тест №1. “JavaScript: Начальный уровень”</div>
                        <div class="choice__option-arrow">
                            <img src="assets/images/arrow.png" alt="Стрелка">
                        </div>
                    </div>
                    <div class="choice__option">
                        <div class="choice__option-text">Тест №2. “JavaScript: Продвинутый уровень”</div>
                        <div class="choice__option-arrow">
                            <img src="assets/images/arrow.png" alt="Стрелка">
                        </div>
                    </div>
                    <div class="choice__option">
                        <div class="choice__option-text">Тест №3. “JavaScript: Профессиональный уровень”</div>
                        <div class="choice__option-arrow">
                            <img src="assets/images/arrow.png" alt="Стрелка">
                        </div>
                    </div> -->
            </div>
        </div>
        <div class="choice__image">
            <img src="images/choice-image.png" alt="Картинка для choice">
        </div>
    </div>
</section>