<section class="test">
    <div class="container test__container">
        <div class="test__pre-title" id="pre-title"></div>
        <div class="test__progress-bar" id="progress-bar">
            <!-- <div class="test__progress-bar-item complete">
                    <div class="test__progress-bar-item-circle"></div>
                    <div class="test__progress-bar-item-text">Вопрос 1</div>
                </div>
                <div class="test__progress-bar-item active">
                    <div class="test__progress-bar-item-circle"></div>
                    <div class="test__progress-bar-item-text">Вопрос 2</div>
                </div>
                <div class="test__progress-bar-item">
                    <div class="test__progress-bar-item-circle"></div>
                    <div class="test__progress-bar-item-text">Вопрос 3</div>
                </div>
                <div class="test__progress-bar-item">
                    <div class="test__progress-bar-item-circle"></div>
                    <div class="test__progress-bar-item-text">Вопрос 4</div>
                </div>
                <div class="test__progress-bar-item">
                    <div class="test__progress-bar-item-circle"></div>
                    <div class="test__progress-bar-item-text">Вопрос 5</div>
                </div> -->
        </div>
        <div class="test__question">
            <div class="test__question-title" id="title"><span class="test__question-title-blue"></span></div>
            <div class="test__question-options" id="options">
                <!-- <div class="test__question-option">
                        <input type="radio" id="answer-one" class="test__answer" name="answer">
                        <label for="answer-one" class="test__answer-label">Вариант ответа 1</label>
                    </div>
                    <div class="test__question-option">
                        <input type="radio" id="answer-two" class="test__answer" name="answer">
                        <label for="answer-two" class="test__answer-label">Вариант ответа 2</label>
                    </div>
                    <div class="test__question-option">
                        <input type="radio" id="answer-three" class="test__answer" name="answer">
                        <label for="answer-three" class="test__answer-label">Вариант ответа 3</label>
                    </div>
                    <div class="test__question-option">
                        <input type="radio" id="answer-four" class="test__answer" name="answer">
                        <label for="answer-four" class="test__answer-label">Вариант ответа 4</label>
                    </div> -->
            </div>
        </div>
        <div class="test__actions">
            <div class="test__action-previous">
                <button class="btn test__btn" id="prev" disabled>Назад</button>
            </div>
            <div class="test__time">
                <div class="test__time-text">Осталось времени:</div>
                <div class="test__time-clock" id="timer">59</div>
            </div>
            <div class="test__action-next">
                <button class="btn test__btn" id="next" disabled>Далее</button>
            </div>
        </div>
        <div class="test__pass-question">
            <a href="javascript:void(0)" id="pass" class="test__pass-question-text" disabled>
                Пропустить вопрос
                <svg width="17px" height="17px" class="test__pass-question-image" viewBox="-4.5 0 20 20" version="1.1"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                    <g stroke="none" stroke-width="1">
                        <g transform="translate(-305.000000, -6679.000000)">
                            <g transform="translate(56.000000, 160.000000)">
                                <path
                                    d="M249.365851,6538.70769 L249.365851,6538.70769 C249.770764,6539.09744 250.426289,6539.09744 250.830166,6538.70769 L259.393407,6530.44413 C260.202198,6529.66364 260.202198,6528.39747 259.393407,6527.61699 L250.768031,6519.29246 C250.367261,6518.90671 249.720021,6518.90172 249.314072,6519.28247 L249.314072,6519.28247 C248.899839,6519.67121 248.894661,6520.31179 249.302681,6520.70653 L257.196934,6528.32352 C257.601847,6528.71426 257.601847,6529.34685 257.196934,6529.73759 L249.365851,6537.29462 C248.960938,6537.68437 248.960938,6538.31795 249.365851,6538.70769" id="arrow_right">

                                </path>
                            </g>
                        </g>
                    </g>
                </svg>

            </a>
        </div>
    </div>
</section>